*{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

/* .{
  background-color: purple;
  color: rgb(255, 255, 255);
  border: 1px solid yellowgreen;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
} */